<form action="search" method="get">
  <p><h2>Search Notes</h2></p>
  <p><input type="text" name="query" placeholder="Enter a word or words"></p>
  <p><input class="button"; type="submit" value="Submit Query"></p>
</form>
<br>
<a class="Link"; href= "/new" method="post">Add your notes here!</a>
