<form action="search" method="post">
  <p><h2>Add Your Notes</h2></p>
  <textarea rows="10" cols="25" name="description">"Enter a description per line"</textarea>
  <textarea rows="10" cols="25" name="example">"Enter an example per line"</textarea>
  <p><input type="text" name="query" placeholder="Enter a word or words"></p>
  <p><input class="button"; type="submit" value="Submit Notes"></p>
</form>
<br>
<a href= "/" method="post">Go back and search them here</a>
