<form action="new" method="post">
  <p><h2>Add Your Notes</h2></p>
  <textarea rows="10" cols="25" name="description">"Enter a description per line"</textarea>
  <textarea rows="10" cols="25" name="example">"Enter an example per line"</textarea>
  <input type="hidden"
         name="<%= request_forgery_protection_token %>"
         value="<%= form_authenticity_token %>">
  <p><input class="button"; type="submit" value="Submit Notes"></p>
</form>
