/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("http://cdn.shopify.com/s/files/1/0023/2122/products/ROLLBAHN.NOTEBOOK.YELLOW.ALT3_1024x1024.jpg?v=1453503270");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 25px;
  font: Comic;
  text-stroke: 3px red;
  text-align: center;
}

.button {
  color: white;
  background: #0000CC;
  border-color: white;
}

a {
  color: #0022DD;
}

a:hover {
  color: white;
}

.notes_table {
  width: 97%;
}

.notes_table tr:nth-child(even) {
  color: #006699;
}

.notes_table tr:nth-child(odd) {
  color: #CC0000;
}

.table_headlines {
  color: black;
}
