<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <form action="search" method="get">
      <h1>Notes</h1>
      <p><input type="text" name="query" placeholder="Enter a word or words"></p>
      <p><input class="button"; type="submit" value="Submit Query"></p>
    </form>

    <%= yield %>
  </body>
</html>
